body {
    font-size: 11px;
}

hr {
    margin-top: .2rem;
    margin-bottom: .4rem;;
    border-top-width: 1px;
    border-top-color: rgb(180, 180, 180);
    color: #cecece;
    color: #d3e4facc;
}

/* h6 span {
    margin-top: .25rem;
    font-size: .7rem;
    margin-bottom: 0rem;
    
} */

span {
    margin: 0;
    padding: 0;
}

h5 { 
    /* font-weight: bold; */
    margin-top: 0px;
    margin-bottom: 0px; 
    font-size: 1.25rem;        
}

.about h5, .status h5 {
    font-weight: normal;
    font-size: 0.8rem;
    display: block;
}

h6{
    margin-top: .2rem;
    margin-bottom: .05rem; 
    font-size: .8rem;
    font-style: normal;
    /* color: gray; */

}

h6.btn {
    font-size: 13px;
    padding: .0rem .3rem;
}

a:hover {
    text-decoration: none;
}

li{
    margin: 10px 0;
    font-size: 1rem;
}

#dc-donor-nd .number-display,
#dc-partner-nd .number-display, 
#dc-ip-nd .number-display
{
    font-size: .8rem;
    font-weight: bold;
    /* color: #984244; */
    margin: 0;
    padding: 0;
}

.normal {
    font-weight: normal;
}

.high-red{
    color: red;
}

/* header divs right padding */
.right-padding {
    margin-right: 5px;    
}
/* below header */
.sub-header {
    font-size: .8rem;
}
.sub-header img {
    height: 18px;
    vertical-align: bottom;
}

footer {
    margin: 10px 0 10px 0;
}

/* Clear and Go Back buttons */
.btn-link.btn-sm {
    padding: .0rem .0rem;
    text-decoration: none;
}

/* year buttons */
.btn-group-sm>.btn, .btn-light.btn-sm {
    padding: .20rem .3rem;
    font-size: 11px
}

/* summary table */
.table td {
    padding: 0.10rem;
}
.table th {
    padding: 0.20rem;
}

.table tr td.sum,
.table tr td.per {
    text-align: right;
}

#dc-summary-table .dc-table-column._3, 
#dc-summary-table .dc-table-column._4, 
#dc-summary-table .dc-table-column._5, 
#dc-summary-table .dc-table-column._6 {
    text-align: right;
 }
#dc-summary-table .dc-table-column._7 {
    text-align: left;
    font-style: italic;
    color: #a7a7a7;
 }

 #dc-status-report-table .dc-table-column._6,
 #dc-status-report-table .dc-table-column._7 {
    text-align: right;
 }

.dc-table-label {
    background-color: #d9edf7;
}


/* adjust bootstrap parameters */
/* @media (min-width: 992px) {
    .container {
        width: 960px;
    }
    }
    @media (min-width: 1200px) { 
    .container {
        width: 1152px;
    }
    }
    @media (min-width: 1600px) {
    .container {
        width: 1344px;
    }
    }
    
    @media (min-width: 1920px) {
    .container {
        width: 1884px;
    }
    } */

.container {
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-sm-auto, .col-sm {
    padding-left: 0px;
    padding-right: 0px;
}

/* remove x and y axis borders from dc-demo-bar chart */
#dc-demo-bar svg g g.axis.x { display: none; }

/* remove x and y axis lines from all row and bar charts */
.dc-chart svg g g.axis path.domain { display: none; }

/* remove tick marks from bar charts */
.dc-chart svg g g.axis.x g.tick line { display: none; }
.dc-chart svg g g.axis.y g.tick line { display: none; }

/*  */
#dc-region-row .axis line { stroke: #939393;}

/* set chart text size */
.dc-chart {
    font-size: 11px;
}
.dc-chart .pie-slice{
    font-size: 11px;
}
.dc-chart g.row text {
    font-size: 11px;
}

/* set row chart text color and size */
.dc-chart g.row text {
    fill: #000000;
    font-size: 11px;
}
/* adjust y and x axis text size for row and bar charts */
.dc-chart .axis text {
    fill: #939393;
    font-size: 11px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";    
}

/* displays horizontally render gridlines */
.dc-chart .grid-line line {
    fill: none;
    stroke: #000000;
    opacity: 0.5;
    shape-rendering: crispEdges;
} 

/* set input search width and padding */
.dc-text-filter-input {
    width: 250px;
    margin-bottom: 5px;
}

/* set select menu width and height for multi selects */
/* .dc-select-menu[multiple] {
    width: 100px;
} */
#dc-partner-select .dc-select-menu[multiple]{
    width: 160px;
    height: 340px;
    margin-top: 5px;
}
#dc-organ-select .dc-select-menu[multiple]{
    width: 160px;
    height: 185px;
    margin-top: 5px;
}
#dc-donor-select .dc-select-menu[multiple]{
    width: 160px;
    height: 185px;
    margin-top: 5px;
}
#dc-location-select .dc-select-menu[multiple]{
    width: 160px;
    height: 340px;
    margin-top: 5px;

}

/* hide x axis for partner type row chart */
#dc-ptype-row svg g g.axis { display: none; }

/* hide x axis for project status row chart */
/* #dc-status-row svg g g.axis { display: none; } */

/* hide x axis for project modality row chart */
/* #dc-modality-row svg g g.axis { display: none; } */

/* hide x axis for project rural/urban row chart */
/* #dc-rural-urban-row svg g g.axis { display: none; } */

/* thicker border line for district map */
#dc-district-map g.admin2Name path {
    stroke: #fff;
    stroke-width: .03rem;
}

/* #dc-rmonth-bar svg g g.axis.x { width: 50px; } */

.number-display {
    font-size: 36px;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: normal;   
    /* color: #984244;  */
}

/* #dc-district-map g.deselected path {
    fill: white; 
} */
.heat-box {
    stroke: #fff;
    stroke-width: 1px;
  }


.dc-chart li {
    width: 15rem;
    display: inline;
}
.dc-cbox-group {
  /* list-style-type: none; */
  margin: 0;
  padding: 0;
}
.dc-cbox-group label {
  display: inline-block;
  margin-right: 5px;
  font-size: 11px;
}
.dc-cbox-group input[type=radio],.dc-cbox-group input[type=checkbox] {
  margin: 0 5px 5px 5px;
}

/* input:checked + label {
    background: red;
} */

/* hover effect for header icons */
.fade{
    opacity:0.5;
}
.fade:hover{
    opacity:1;
}

label.form-check-label {
    font-size: 13px;
}

/* table tabs */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #1e5eae;
    background-color: #f2f2f2;
}

/* select menu round corners */
/* select.dc-select-menu {
    border-radius: .25rem;
} */

 /* d3-tip (dc.css modifier) - start */
 .dc-tooltip {
    background-color: #FFF;
    border: 1px solid grey;
    padding: 3px 7px;
    font-size: 12px;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.16);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.16);
  }
  
  .dc-tooltip-title {
    font-weight: bold;
    padding-right: 2px;
  }
  
  .dc-tooltip-value {
    padding-left: 2px;
  }
  
  .dc-tooltip:after,
  .dc-tooltip:before {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -5px;
      /* margin: auto; */
      width: 0;
      height: 0;
      border-style: solid;
      border-color: #ffffff transparent transparent transparent;
  }
  
  .dc-tooltip:after {
      left: 50%;
      bottom: -4px;
      border-color: #FFF transparent transparent transparent;
      border-width: 5px 5px 0 5px;
  }
  
  .dc-tooltip:before {
      left: 50%;
      margin-left: -6px;
      /* margin-left: 2px; */
      bottom: -5px;
      border-color: grey transparent transparent transparent;
      border-width: 6px 6px 0 6px;
  }

  /* 'About PRMN' heading floats the right of  */
  /* 'Monthly Displacement' heading without it */
  div.dc-chart { 
    float: none;  
  }
  /* d3-tip (dc.css modifier) - end */

  /* bootstrap change color */
.tooltip-inner {
    color: white;
    border-color: grey;
    background-color: #bf898a;
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #bf898a !important;
}

.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #bf898a !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #bf898a !important;
}

.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #bf898a !important;
}

/* fontawesome help icon */
.far {
    color: #bf898a;
    font-size: 12px;
}

@media print { 
    .container {
        max-width: none!important;
        width: 100%!important;
        padding-left: 0;
        padding-right: 0;
    }
    .row {
        margin: 0%;
    }
    [class*="col-"] {
        float: left;
        padding-left: 0%;
        padding-right: 0%;
    }
    .col-sm-12,
    .col-md-12,
    .col-lg-12 {
        width: 100%
    }
    .col-sm-11,
    .col-md-11,
    .col-lg-11 {
        width: 91.66666667%
    }
    .col-sm-10,
    .col-md-10,
    .col-lg-10 {
        width: 83.33333333%
    }
    .col-sm-9,
    .col-md-9,
    .col-lg-9 {
        width: 75%
    }
    .col-sm-8,
    .col-md-8,
    .col-lg-8 {
        width: 66.66666667%
    }
    .col-sm-7,
    .col-md-7,
    .col-lg-7 {
        width: 58.33333333%
    }
    .col-sm-6,
    .col-md-6,
    .col-lg-6 {
        width: 50%
    }
    .col-sm-5,
    .col-md-5,
    .col-lg-5 {
        width: 41.66666667%
    }
    .col-sm-4,
    .col-md-4,
    .col-lg-4 {
        width: 33.33333333%
    }
    .col-sm-3,
    .col-md-3,
    .col-lg-3 {
        width: 25%
    }
    .col-sm-2,
    .col-md-2,
    .col-lg-2 {
        width: 16.66666667%
    }
    .col-sm-1,
    .col-md-1,
    .col-lg-1 {
        width: 8.33333333%
    }

    
}